.colorBox{
    height: 25%;
    width: 20%;
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin: -3px auto;
    text-transform: uppercase;
    font-family: 'Neucha', cursive;
}

.go-back{
    background-color: rgb(0, 0, 0);
}

.single-palate .colorBox {
    height: 50%;
}

.copy-container {
font-size: 15px;
}

.box-content {
position: absolute;
width: 100%;
padding: 10px;
left: 0;
bottom: 0;
color: #333;
}

.copy-btn , .go-back-btn {
width: 100px;
height: 30px;
position: absolute;
top: 50%;
left: 50%;
margin-top: -15px;
margin-left: -50px;
text-align: center;
outline: none;
background-color:rgba(255, 255, 255, 0.315) ;
font-size: 1rem;
line-height: 30px;
text-transform: uppercase;
border: none;
transition: ease-in-out 300ms;
cursor: pointer;
font-family: 'Leckerli One', cursive;
color: #fff;
text-decoration: none;

}

.copy-btn {
    opacity: 0;
}

.see-more {
    position: absolute;
    right: 0;
    padding: 10px;
    bottom: 0;
    color: #fff;
    background-color: rgba(255, 247, 247, 0.37);
    transition: transform ease-in 500ms;
    transition-delay:200ms ;
}

.see-more:hover {
    transform: rotate(360deg);
}

.colorBox:hover .copy-btn {
    opacity: 1;
}

.copy-overlay {
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition:transform ease-in-out 600ms;


}

.copy-overlay.show {
    opacity: 1;
    transform: scale(50);
    z-index: 10;
    position: absolute;

}

.copied-text {
    height: 50%;
    opacity: 0;
    position: fixed;
    z-index: 0;
    transition:transform ease-in-out 600ms;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.1);
    border-bottom: 0.5px solid #fff;
    border-top: 0.5px solid #fff;



}

.copied-text.show {
    height: 50%;

    left: 0;
    right: 0;
    top: 20%;
    opacity: 1;
    position: fixed;
    z-index: 10;
    text-align: center;
    font-size: 30px;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: scale(1);
    border-bottom: 0.5px solid #fff;
    border-top: 0.5px solid #fff;



}

.copied-text.show h1 {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.329);
    padding: 10px;
}

.is-light {
    color: black;
}

.is-dark {
    color: white;
}