.navbar {
    display: flex;
    align-items: center;
}


.color-slider {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;

}

.color-slider p {
    font-family: 'Neucha', cursive;

}

.color-slider span {
    margin: 0 0 5px 0 ;
    padding: 5px;
    width: 10rem;
    height: 100%;
    background-color: #d4e892;
    height: 2.7rem;
    text-align: center;
    display: flex;
    align-items: center;
    letter-spacing: 3px;
    font-family: 'Neucha', cursive;
    font-weight: bolder;
    text-decoration: none;
    margin-bottom: -2px;
    


}

.color-slider a {
    text-decoration: none;
    width: 100%;
}

.select-container {
    margin-left: auto;
    margin-right: 0.5rem;
}

@media screen and (max-width: 800px) {
    .color-slider span {
        width: 40%;
        font-size: 0.7rem;
    }
  }