span {
    margin: 10px;
}

.designHeader {
    padding: 10px;
}

#btn {
    margin: 10px;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Dialog {
    padding: 20px;
    color: red
}

.MuiDialog-paper {
    padding: 20px;
}